html, body, .grid-container {
    height: 100%;
    margin: 0;
    }

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.4fr 0.6fr 1.7fr 1.6fr 0.3fr;
  gap: 10px 20px;
  grid-template-areas: "Side_Bar Header Header Header" "Side_Bar case_Stats death_Stats Stats" "Side_Bar Main_Graph Main_Graph Main_Graph" "Side_Bar Projection Map Map" "Footer Footer Footer Footer";
}

.Side_Bar { 
	grid-area: Side_Bar;
	grid-sizing: 0.3fr;
	background-color: #007bff;
	overflow: hidden;
}

.Side_Bar a {
	float: left;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}

.Side_Bar a:hover {
	background-color: mediumblue;
	color: black;
}

.Main_Graph {
    grid-area: Main_Graph;
    border: 0.5px groove #F5F5F5;
    box-shadow: 5px 5px 2.5px lightgrey;
}

.Footer {
    grid-area: Footer;
}

.Projection {
    grid-area: Projection;
}

.Map {
    grid-area: Map;
}

.Header {
    grid-area: Header;
    bottom-border: 0.5px groove #F5F5F5;
}

.case_Stats {
    grid-area: case_Stats;
    border: 0.5px groove #F5F5F5;
    box-shadow: 5px 5px 2.5px lightgrey;
}

.death_Stats {
    grid-area: death_Stats;
    border: 0.5px groove #F5F5F5;
    box-shadow: 5px 5px 2.5px lightgrey;
}

/* For presentation only, no need to copy the code below */
.grid-container {
 /* border: 1px solid red; */
 position: relative;
}

.grid-container *:after {
 position: relative;
 top: 0;
 left: 0;
}

* {
	box-sizing: border-box
  }
  
  html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Dosis', sans-serif;
	line-height: 1.6;
	color: #666;
	background: #F6F6F6;
  }
  
  #root {
	max-width: 1200px;
	margin: 0 auto;
  }
  
  img {
	display: block;
	margin: 1rem auto;
	max-width: 100%;
  }
  
  p {
	padding: 0 2.5rem 2.5rem;
	margin: 0;
  }
  
  .container {
	display: flex;
	flex-wrap: wrap;
  }

  .statelink {
	background: lightblue;
  }